# Enrutamiento simple para Apache
RewriteEngine On
RewriteBase /mi_tienda_ecologica/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]

AddDefaultCharset UTF-8
